* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Noto Sans', sans-serif;
}


/* NAVBAR */

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 2em;
}


/* LOGO */
.logo {
    width: 15%;
}

.logo img {
    width: 100%;
    border-radius: 0.3em;
}

/* SEARCH CONTAINER */

.search-container {
    background-color: #0D67B5;
    margin-left: 5em;
    border-radius: 0.3em;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container form a {
    margin: 0.5em;
}

.search-container form input {
    height: 3em;
    width: 25vw;
    padding: 1.7em;
    border: none;
    border: 2px solid #0D67B5;
    border-radius: 0.3em;
}

/* MAIN MENU */

.main-menu ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.main-menu ul li {
    display: flex;
    align-items: center;
    background-color: #0D67B5;
    height: 3em;
    padding: 1em;
    border-radius: 0.3em;
    gap: 1em;
}

.main-menu ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
}


/* CATEGORIES NAVBAR */

.categories .container {
    background-color: #0D67B5;
    height: 4.5em;
    display: flex;
    align-items: center;
}

.categories-links ul {
    display: flex;
    flex-direction: row;
    gap: 3em;
    list-style: none;
    margin-left: 20vw;
}


.categories-links ul li a {
    text-decoration: none;
    color: #FFF;
}


/* HEADER BANNER */

.header-banner img {
    width: 100%;
}


/* TOP SELLERS SECTION */

.top-sellers .container {
    width: 85%;
    margin: auto;
}

.top-sellers-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.top-sellers-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    margin-bottom: 3em;
}

.top-sellers-item img {
    height: 15em;
    border: 1px solid lightgrey;
}

.top-sellers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7em;
}

.add-to-cart-btn {
    background-color: #0D67B5;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 0.3em;
    padding: 0.7em 2em;
    color: #FFF;
}