* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Noto Sans', sans-serif;
}


/* NAVBAR */

.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 2em;
}


/* LOGO */
.logo {
    width: 15%;
}

.logo img {
    width: 100%;
    border-radius: 0.3em;
}

/* SEARCH CONTAINER */

.search-container {
    background-color: #0D67B5;
    margin-left: 5em;
    border-radius: 0.3em;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container form a {
    margin: 0.5em;
}

.search-container form input {
    height: 3em;
    width: 25vw;
    padding: 1.7em;
    border: none;
    border: 2px solid #0D67B5;
    border-radius: 0.3em;
}

/* MAIN MENU */

.main-menu ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.main-menu ul li {
    display: flex;
    align-items: center;
    background-color: #0D67B5;
    height: 3em;
    padding: 1em;
    border-radius: 0.3em;
    gap: 1em;
}

.main-menu ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
}


/* CATEGORIES NAVBAR */

.categories .container {
    background-color: #0D67B5;
    height: 4.5em;
    display: flex;
    align-items: center;
}

.categories-links ul {
    display: flex;
    flex-direction: row;
    gap: 3em;
    list-style: none;
    margin-left: 20vw;
}


.categories-links ul li a {
    text-decoration: none;
    color: #FFF;
}

.categories-links ul img {
    height: 1.3em;
}

.categories-links ul li:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}


/* HEADER BANNER */

.header-banner img {
    width: 100%;
}


/* TOP SELLERS SECTION */

.top-sellers .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.top-sellers-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.top-sellers-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    margin-bottom: 3em;
}

.top-sellers-item img {
    height: 15em;
    border: 1px solid lightgrey;
}

.top-sellers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7em;
}

.add-to-cart-btn {
    background-color: #0D67B5;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 0.3em;
    padding: 0.7em 2em;
    color: #FFF;
}


/* SMALL BANNERS SECTION */

.small-banners .container {
    width: 85%;
    margin: auto;
}

.small-banners-content {
    display: flex;
    justify-content: space-between;
}

.small-banner-nouveautes {
    text-align: center;
}

.small-banner-promotions {
    text-align: center;
}

.small-banner-nouveautes img {
    width: 90%;
}

.small-banner-promotions img {
    width: 90%;
}



/* NOUVEAUTES SECTION */

.nouveautes .container {
    width: 85%;
    margin: auto;
}

.nouveautes-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.nouveautes-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    margin-bottom: 3em;
}

.nouveautes-item img {
    height: 15em;
    border: 1px solid lightgrey;
}

.nouveautes-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7em;
}

/* PROMOTIONS SECTION */

.promotions .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.promotions-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.promotions-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    margin-bottom: 3em;
}

.promotions-item img {
    height: 15em;
    border: 1px solid lightgrey;
}

.promotions-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7em;
}

/* KITS-PACKS SECTION */

.kits-packs .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.kits-packs-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.kits-packs-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2em;
    margin-bottom: 3em;
}

.kits-packs-item img {
    height: 15em;
    border: 1px solid lightgrey;
}

.kits-packs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7em;
}


/* CTA CONTACT SECTION */

.cta-contact .container {
    width: 85%;
    margin: auto;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 4em;
}

.cta-contact-content {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.cta-contact-content p {
    font-size: 1.3em;
    width: 65%;
    margin: auto;
}

.contact-btn {
    background-color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid #0D67B5;
    border-radius: 0.3em;
    padding: 1em 5em;
    color: #0D67B5;
    font-size: 1em;
}


/* FOOTER SECTION */

.footer .container {
    background-color: #455B7D;
    padding: 4em 3em;
}

.footer-logo img {
    width: 70%;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    color: #FFF;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-links ul li {
    list-style: none;
}

.footer-links ul li a {
    color: #FFF;
    text-decoration: none;
}


/* PAGE CONNEXION - CONNEXION SECTION */

.connexion .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.connexion-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.connexion-content div:nth-child(2) {
    border: 1px solid lightgray;
    border-radius: 0.3em;
    width: 85%;
    margin: 2em auto;
}

.connexion-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
}

.connexion-form input::placeholder {
    font-family: 'Noto Sans', sans-serif;
}

.connexion-content div:nth-child(3) {
    width: 85%;
    margin: auto;
    background-color: #83A0BA;
    border-radius: 0.3em;
    padding: 1em;
}

.text-form {
    border: 1px solid lightgray;
    border-radius: 0.4em;
    padding: 1.6em;
}

.forgot-password {
    color: #0D67B5;
}

.connexion-form .connexion-btn {
    max-width: 15em;
    background-color: #0D67B5;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 0.3em;
    padding: 1.5em 2em;
    color: #FFF;
}

.create-account-link {
    color: #FFF;
}




/* PAGE CREATION COMPTE - CREATE ACCOUNT SECTION */

.create-account .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.create-account-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.create-account-content div:nth-child(2) {
    border: 1px solid lightgray;
    border-radius: 0.3em;
    width: 85%;
    margin: 2em auto;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
}

.create-account-form input::placeholder {
    font-family: 'Noto Sans', sans-serif;
}

.create-account-content div:nth-child(3) {
    width: 85%;
    margin: auto;
    background-color: #83A0BA;
    border-radius: 0.3em;
    padding: 1em;
}

.text-form {
    border: 1px solid lightgray;
    border-radius: 0.4em;
    padding: 1.6em;
}

.forgot-password {
    color: #0D67B5;
}

.create-account-form .create-account-btn {
    max-width: 15em;
    background-color: #0D67B5;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 0.3em;
    padding: 1.5em 2em;
    color: #FFF;
}



/* PAGE MON COMPTE - MY ACCOUNT SECTION */

.my-account .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.my-account-content {
    display: grid;
    grid-template-columns: 1.3fr 4fr;
}

.my-account-sumary h1 {
    margin-bottom: 1em;
}

.my-account-sumary {
    margin: 2em auto;
    font-size: 1.3em;
}

.my-account-menu {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.black-separator {
    height: 2px;
    background-color: black;
}


.disconnect-btn {
    background-color: #0D67B5;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 0.3em;
    padding: 0.7em 2em;
    color: #FFF;
}


/* PAGE MON COMPTE - PURCHASES SECTION */


.my-account-purchases {
    margin: 2em auto;
    font-size: 1.3em;
}

.my-account-purchases h1 {
    margin-bottom: 1em;
}

.my-account-purchases p {
    font-size: 0.7em;
    color: rgb(97, 97, 97);
}

.item-purchased {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.item-info {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.item-price {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* PAGE PRODUCT - PRODUCT SECTION */

.product .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;

}

.product-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
}

.product-infos {
    margin: 2em auto;
    color: rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product-infos h1 {
    color: #000;
    font-size: 1.6em;
}

.product-infos h3 {
    color: #000;
    font-size: 1.3em;
}

.product-infos p {
    font-size: 0.9em;
}

.product-infos ul li {
    font-size: 0.9em;
}

.product-images {
    margin: 2em auto;
}

.product-main-image {
    height: 350px;
    border: 1px solid lightgray;
}

.product-preview-images img {
    height: 65px;
    border: 1px solid lightgray;
}

.product-buttons {
    display: flex;
}

.product-buttons button {
    background-color: #FFF;
    font-family: 'Noto Sans', sans-serif;
    border: 1px solid #0D67B5;
    border-radius: 0.3em;
    padding: 1em 2em;
    color: #0D67B5;
}

.product-description {
    /* width: 80%; */
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    padding: 2em;
}

.product-description h3 {
    margin-bottom: 2em;
}

.product-description p {
    font-size: 0.9em;
    color: rgb(97, 97, 97);
    line-height: 1.6em;
    margin-bottom: 1em;
}


/* PAGE MON PANIER - SHOPPING-CART SUMARY PENDING-SUBTOTAL SECTION */

.shopping-cart .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.shopping-cart-content {
    display: grid;
    grid-template-columns: 4fr 1.3fr;
}

.shopping-cart-sumary h1 {
    margin-bottom: 1em;
}

.shopping-cart-sumary {
    margin: 2em auto;
    font-size: 1.3em;
}

.shopping-cart-menu {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.black-separator {
    height: 2px;
    background-color: black;
}


.shopping-cart-validate-btn {
    cursor: pointer;
    background-color: #0D67B5;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 0.3em;
    padding: 0.7em 2em;
    color: #FFF;
    margin-top: 2em;
}


/* PAGE MON PANIER - SHOPPING-CART PENDING-ITEMS SECTION */

.shopping-cart-pending-items {
    margin: 2em auto;
    font-size: 1.3em;
}

.shopping-cart-pending-items h1 {
    margin-bottom: 1em;
}

.shopping-cart-pending-items p {
    font-size: 0.7em;
    color: rgb(97, 97, 97);
}

.item-pending {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.item-info {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.item-price {
    display: flex;
    justify-content: center;
    align-items: center;
}





/* PAGE MA COMMANDE - ORDER SECTION */

.order .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.order-content {
    display: grid;
    grid-template-columns: 4fr 1.3fr;
}

.order-sumary h1 {
    margin-bottom: 1em;
}

.order-sumary {
    margin: 2em auto;
    font-size: 1.3em;
}

.order-menu {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.black-separator {
    height: 2px;
    background-color: black;
}


.order-validate-btn {
    cursor: pointer;
    background-color: #0D67B5;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 0.3em;
    padding: 0.7em 2em;
    color: #FFF;
    margin-top: 2em;
}


/* PAGE MA COMMADE - ORDER PENDING-ITEMS SECTION */

.order-pending-items {
    margin: 2em auto;
    font-size: 1.3em;
}

.order-pending-items h1 {
    margin-bottom: 1em;
}

.order-pending-items p {
    font-size: 0.7em;
    color: rgb(97, 97, 97);
}

.item-pending {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.item-info {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.item-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.billing-form-header {
    margin-top: 1em;
}

.billing-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.billing-form input {
    width: 60%;
    padding: 1.5em;
    gap: 2em;
    border: 1px solid lightgray;
    border-radius: 0.3em;
}

.billing-form input::placeholder {
    font-family: 'Noto Sans', sans-serif;
}


/* PAGE MA COMMADE - CARD FORM SECTION */

.card-form {
    margin-top: 1em;
}

.card-form-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}



/* PAGE COMMANDE VALIDÉE - ORDER-CONFIRMED SECTION */

.order-confirmed .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.order-confirmed-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.order-confirmed-infos {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    margin-bottom: 20vh;
}

.order-confirmed-infos p span {
    font-weight: bold;
}



/* PAGE CONTACT - CONTACT FORM SECTION */

.contact .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.contact-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.contact-content div:nth-child(2) {
    border: 1px solid lightgray;
    border-radius: 0.3em;
    width: 85%;
    margin: 2em auto;
}

textarea {
    border: 1px solid lightgray;
    border-radius: 0.4em;
    padding: 1.6em;
    font-family: 'Noto Sans', sans-serif;
    resize: vertical;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
}

.contact-form input::placeholder {
    font-family: 'Noto Sans', sans-serif;
}


.contact-submit-btn {
    background-color: #0D67B5;
    font-family: 'Noto Sans', sans-serif;
    border: none;
    border-radius: 0.3em;
    padding: 1em 6em;
    margin-right: auto;
    color: #FFF;
    font-size: 1em;
}


/* PAGE QUI SOMMES-NOUS ? + QU'EST CE QUE L'IOT + CGV + MENTIONS LEGALES - ABOUT SECTION */

.about .container {
    width: 85%;
    margin: auto;
    padding-bottom: 4em;
}

.about-header {
    margin: 2em auto;
    font-size: 1.3em;
}

.about-infos {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    margin-bottom: 20vh;
}

.about-infos p {
    color: rgb(97, 97, 97);
}





/* -----  MEDIA QUERIES   ------ */


/* PAGE MON COMPTE - MY ACCOUNT/PURCHASES SECTION */

@media (max-width: 997px) {
    .my-account-content {
        grid-template-columns: 1fr;
    }
}